<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Albums</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated="true" mode="ios" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list-header>
    <h3 routerLink="0">Album Title</h3>
    <ion-label class="ion-text-end ion-padding">
      <ion-button (click)="onCreateModal()" mode="ios">Create new</ion-button>
    </ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item button="" routerLink="song/0">
      <ion-label>
        <ion-row>
          <ion-col>
            <h2>Song Title</h2>
          </ion-col>
          <ion-col class="ion-text-center">
            <small>2:20</small>
          </ion-col>
          <ion-col class="ion-text-center">
            <small>02 - 02 - 2020</small>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
