<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Albums</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated="true" mode="ios" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list-header>
    <h3>Album Title</h3>
    <ion-label class="ion-text-end ion-padding">
      <ion-button [routerLink]="['create-album']" mode="ios">Create new</ion-button>
    </ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item button="">
      <ion-row>
        <ion-col size="auto">
          <strong>Song Title</strong>
        </ion-col>
        <ion-col size="auto">
          <small>123</small>
        </ion-col>
        <ion-col size="auto">
          <ion-text color="success">
            <small>Published</small>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>
