<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Followed Artist</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>

    </ion-list-header>


    <ion-item>
      <ion-avatar slot="start" style="width: 40px; height: 40px;">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
      </ion-avatar>
      <ion-label>
        <h2><strong>Artist Name</strong></h2>
        <small>12k follower</small>
      </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-text>Unfollow</ion-text>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
