<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon name="settings-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            Published Songs : {{data.publish_song}}
          </ion-item>

          <ion-item>
            Albums : {{data.album}}
          </ion-item>

          <ion-item>
            Song Request : {{data.song_request}}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
