<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          Published Songs : 123
        </ion-item>

        <ion-item>
          Albums : 123
        </ion-item>

        <ion-item>
          Followers : 123
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <h2>Request Upload</h2>
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col size="auto">
          <strong>Song Title</strong>
        </ion-col>
        <ion-col size="auto">
          <small>Album Title</small>
        </ion-col>
        <ion-col size="auto">
          <ion-text color="success">
            <small>Published</small>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <h2>Popular Songs</h2>
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col size="auto">
          <strong>Song Title</strong>
        </ion-col>
        <ion-col size="auto">
          <small>123</small>
        </ion-col>
        <ion-col size="auto">
          <small>Album Title</small>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>
