<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon name="settings-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            Published Songs : {{information.published_song}}
          </ion-item>

          <ion-item>
            Albums : {{information.albums}}
          </ion-item>

          <ion-item>
            Followers : {{information.followers}}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <h2>Request Upload</h2>
    <ion-list>
      <ion-item *ngFor="let song of reqUpload">
        <ion-row>
          <ion-col size="auto">
            <strong>{{song.title}}</strong>
          </ion-col>
          <ion-col size="auto">
            <small>{{song.albumTitle}}</small>
          </ion-col>
          <ion-col size="auto">
            <ion-text color="danger" *ngIf="song.status === 'Rejected'">
              <small>{{song.status}}</small>
            </ion-text>
            <ion-text color="primary" *ngIf="song.status === 'Pending'">
              <small>{{song.status}}</small>
            </ion-text>
            <ion-text color="success" *ngIf="song.status === 'Published'">
              <small>{{song.status}}</small>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <h2>Popular Songs</h2>
    <ion-list>
      <ion-item *ngFor="let song of popularSong">
        <ion-row>
          <ion-col size="auto">
            <strong>{{song.title}}</strong>
          </ion-col>
          <ion-col size="auto">
            <small>{{song.likeCount}}</small>
          </ion-col>
          <ion-col size="auto">
            <small>{{song.albumTitle}}</small>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

  </ion-content>
</div>
