<!--<ion-menu contentId="main-content">-->
<!--  <ion-header>-->
<!--    <ion-toolbar>-->
<!--      <ion-title>Settings</ion-title>-->
<!--      <ion-buttons slot="end">-->
<!--        <ion-button color="danger">-->
<!--          <ion-icon name="log-out-outline"></ion-icon>-->
<!--        </ion-button>-->
<!--      </ion-buttons>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
<!--  <ion-content>-->
<!--    <ion-card>-->
<!--      <ion-card-content>-->
<!--        <ion-list lines="none">-->
<!--          <ion-menu-toggle auto-hide="false">-->
<!--            <ion-item [routerLink]="'/'" detail="false" routerDirection="root"-->
<!--                      routerLinkActive="selected">-->
<!--              <ion-icon name="shield" slot="start"></ion-icon>-->
<!--              <ion-label><strong>Privacy and Security</strong></ion-label>-->
<!--            </ion-item>-->
<!--          </ion-menu-toggle>-->
<!--        </ion-list>-->
<!--      </ion-card-content>-->
<!--    </ion-card>-->
<!--  </ion-content>-->
<!--</ion-menu>-->

<ion-tabs (ionTabsDidChange)="setSelectedTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon [name]="selectedTab === 'dashboard' ? 'home': 'home-outline'"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="albums">
      <ion-icon [name]="selectedTab === 'albums' ? 'albums': 'albums-outline'"></ion-icon>
      <ion-label>Albums</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon [name]="selectedTab === 'account' ? 'person': 'person-outline'"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
