<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon name="settings-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Music Player</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row>
      <ion-col *ngFor="let item of data" size="12">
        <h2 class="ion-padding-start"><strong>{{item.id}}</strong></h2>

        <swiper-container [freeMode]="true" [slidesOffsetBefore]="20" [slidesPerView]="2.4" [spaceBetween]="20">
          <swiper-slide>
            <img [src]="" alt="">
            <small></small>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-content>
</div>
