<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon name="settings-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Music Player</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row *ngFor="let entry of data;">
      <ion-col size="12">
        <h2 class="ion-padding-start"><strong>{{ entry.title }}</strong></h2>

        <swiper-container [freeMode]="true" [slidesOffsetBefore]="20" [slidesPerView]="2.4" [spaceBetween]="20">
          <swiper-slide (click)="onCLick(music)" *ngFor="let music of entry.playlists">
            <img [src]="music.albumImage" alt="{{music.title}}">
            <small>{{music.title}}</small>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-content>
</div>
