<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon name="settings-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Music Player</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row>
      <ion-col *ngFor="let d of data.data" size="12">
        <h2 class="ion-padding-start"><span><b>{{d.title}}</b></span></h2>

        <swiper-container *ngIf="d.title === 'Top Music'" [freeMode]="true" [slidesOffsetBefore]="20"
                          [slidesPerView]="2.4" [spaceBetween]="20">
          <swiper-slide (click)="onAddToQueue(song)" *ngFor="let song of d.songs">
            <ion-img [alt]="song.song_title" [src]="song.album.album_image"></ion-img>
            <ion-text [color]="song === currentSong ? 'success' : 'dark'"><small>{{song.song_title}}</small></ion-text>
          </swiper-slide>
        </swiper-container>

        <swiper-container *ngIf="d.title === 'Popular Artists'" [freeMode]="true" [slidesOffsetBefore]="20"
                          [slidesPerView]="2.4" [spaceBetween]="20">
          <swiper-slide *ngFor="let artist of d.artists">
            <ion-img [alt]="artist.artist_image" [src]="artist.artist_image"></ion-img>
            <small>{{artist.artist_name}}</small>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-content>
</div>
