<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Liked songs</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      :v
    </ion-list-header>
    <ion-item (click)="onAddToQueue(song)" *ngFor="let song of data.songs" button="">
      <ion-thumbnail slot="start" style="width: 40px; height: 40px;">
        <ion-img [alt]="song.song_title" [src]="song.album.album_image"></ion-img>
      </ion-thumbnail>
      <ion-label [color]="song === currentSong ? 'success' : 'dark'" class="ion-text-wrap">
        <h2><strong>{{song.song_title}}</strong></h2>
        <small>{{song.artist.artist_name}}</small>
      </ion-label>
      <ion-button (click)="onDelete(song)" fill="clear" id="confirmation-delete-track-{{song.song_id}}" slot="end">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
