<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Followed Artist</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>

    </ion-list-header>


    <ion-item *ngFor="let artist of data;" button="">
      <ion-avatar slot="start" style="width: 40px; height: 40px;">
        <img [src]="artist.image" alt="Silhouette of a person's head"/>
      </ion-avatar>
      <ion-label>
        <h2><strong>{{artist.name}}</strong></h2>
        <small>{{artist.followers}} followers</small>
      </ion-label>
      <ion-button fill="clear" mode="ios" slot="end">
        Unfollow
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
