.player {
  height: 55px;
  background: #ffffff;

  img {
    height: 55px;
  }

  font-family: 'Spotify', serif;
  color: #000000;
  font-size: small;

  .progress-bar {
    height: 2px;
    width: 100%;
    background: #707070;

    .progress {
      background: var(--ion-color-primary);
      height: 100%;
    }
  }
}
