<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>request-songs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item button="">
    <ion-label>
      <ion-row>
        <ion-col>
          <h2>Song Title</h2>
        </ion-col>
        <ion-col class="ion-text-center">
          <small>asd</small>
        </ion-col>
        <ion-col class="ion-text-center">
          <small></small>
        </ion-col>
      </ion-row>
    </ion-label>
  </ion-item>
</ion-content>
