<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create Album</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input label="Album Title" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-img [src]="url"></ion-img>
    <ion-item>
      <ion-input (change)="readUrl($event)" name="album-image" type="file"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button mode="ios" size="small">Submit</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
