<ion-card color="dark">
  <ion-card-content class="ion-no-padding">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-img [src]=""></ion-img>
        </ion-col>
        <ion-col class="ion-padding-start" size-md="6" size-sm="4">
          <h2><strong>{{123}}</strong></h2>
          <small>Artist Name</small>
        </ion-col>
        <ion-col size-md="4">
          <ion-row class="ion-text-center ion-justify-content-end">
            <ion-col class="ion-no-padding" size="4">
              <ion-button class="ion-no-padding" fill="clear">
                <ion-icon name="heart-outline" size="large"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12">
          <ion-row class="ion-justify-content-between">
            <ion-col size="1">
              <ion-button fill="clear">
                <ion-icon name="repeat-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon name="play-skip-back-circle" size="large"></ion-icon>
              </ion-button>
            </ion-col>

            <!--            <ion-col size="2" >-->
            <!--              <ion-button fill="clear" (click)="onPlayPause(false)" *ngIf="!isPlaying">-->
            <!--                <ion-icon name="play-circle" size="large"></ion-icon>-->
            <!--              </ion-button>-->
            <!--            </ion-col>-->


            <!--            <ion-col size="2">-->
            <!--              <ion-button fill="clear" (click)="onPlayPause(true)" *ngIf="isPlaying">-->
            <!--                <ion-icon name="pause-circle" size="large"></ion-icon>-->
            <!--              </ion-button>-->
            <!--            </ion-col>-->

            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon name="play-skip-forward-circle" size="large"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button fill="clear">
                <ion-icon name="repeat-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-between">
            <ion-col size="auto">
              3:12
            </ion-col>
            <ion-col size-md="10" size-sm="9">
              <ion-progress-bar [value]="0.2"></ion-progress-bar>
            </ion-col>
            <ion-col size="auto">
              5:00
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
